body {
  padding-top: 50px;
}

h3,h2 {
	text-align: center;
	font-weight: bold;
}

output {
	padding-bottom: 10px;
	font-style: italic;
}
.mainBody {
  padding: 40px 15px;
}
.centered{
	text-align: center;
}

.panel-default{
	width: 800px;
	margin: auto;
	margin-bottom: 20px;
}

.panel-heading {
	padding-top: 10px;
}


